.product_list{
    img{
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
    }
    .product_list_icon{
        width: 18px;
        height: 16px;
    }
    .decoration{
        text-decoration: line-through;
    }
    h2{
        font-size: 24px;
    }
}

.underline{
    text-decoration: underline;
}