.purchase_item{
    img{
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
    h2{
        font-size: 32px;
    }
    h3{
        font-size: 20px;
    }
    .purchase_icon{
        width: 18px;
        height: 16px;
    }
}

.input-group-append{
    border-radius: 0;
}
