.vip{
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 16px;
    }
    img{
        width: 20px;
        height: 20px;
    }
    h5{
        font-size: 14px;
    }
    label{
        white-space:nowrap;
    }
    .decoration{
        
        color: #916000;
        text-decoration: underline;
    }
    span{
        color: #848484;
    }
    .bd{
        border-bottom: 1px solid #818A91;
    }
}